*{height: 100%;}
h1,p{color: rgb(235, 224, 245);}
body{background-image: radial-gradient(#e66465, #9198e5);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}